h1 {
	text-align: center;
	width: 50%;

}

.navBar {
	display: flex;
	width: 100%;
	margin: 50px auto;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	flex: 1 1 20%;

}

.bordered{
	border: solid 2em transparent;
	box-sizing: border-box;
	position: relative;
}

.bordered::before{
	width: 10%;
	height: 10%;
	position: absolute;
	top:0;
	left:0;
	z-index:-100px;
}


