.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    flex-basis: 18.5vw;


}







